.color{
  float: left;
  width: 20px;
  height: 20px;
  margin : 5px;
}
.green{
  background-color: green;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
function button (id, value) {
  var a = document.getElementById(id);
  a.style.color = value;
}